# Example environment variables for development

# Django settings
DJANGO_SECRET_KEY=changeme
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (Postgres)
DATABASE_URL=postgres://user:password@localhost:5432/mnhs_db

# Optional
# CELERY_BROKER_URL=redis://localhost:6379/0
